*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(88, 15, 141);
}

main {
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px black;
}